<!-- Page de connection. On y accède en cliquant sur le bouton en haut à droite de la page. 

     Fait par: Jacky -->
<template>
  <div>
    <section class="hero is-fullheight is-light" @submit.prevent="login()">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-4 is-offset-4">
            <h3 class="title has-text-grey">Se connecter</h3>
            <p class="subtitle has-text-grey">Veuillez vous connecter pour continuer.</p>
            <div class="box">
              <form>
                <p v-if="errors.length">
                <ul>
                  <li v-for="error in errors" :key="error">{{ error }}</li>
                </ul>
                </p>
                <div class="field">
                  <div class="control has-icons-left">
                    <input required class="input is-large"
                                    type="text"
                                    v-model="user.Username"
                                    placeholder="Nom d'utilisateur"
                                    autofocus>
                    <span class="icon is-small is-left">
                      <font-awesome-icon :icon="['fas', 'user']"/>
                    </span>
                  </div>
                </div>

                <div class="field">
                  <div class="control has-icons-left">
                    <input required class="input is-large"
                                    type="password"
                                    v-model="user.Password"
                                    placeholder="Mot de passe">
                    <span class="icon is-small is-left">
                      <font-awesome-icon :icon="['fas', 'lock']"/>
                    </span>
                  </div>
                </div>
                <div class="field">
                  <label class="checkbox">
                    <input type="checkbox">
                    Se souvenir de moi
                  </label>
                </div>
                 <spinner v-bind:show="isBusy" />
                <button class="button is-block is-info is-large is-fullwidth" type="submit">Se connecter</button>
                <div class="bottomLine">
                  <p class="has-text-grey">
                    &nbsp;&nbsp;&nbsp;
                    <router-link to="/signup">Créer un compte</router-link>&nbsp;·&nbsp;
                    <a href="../">J'ai oublié mon mot de passe</a>
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import axios from 'axios';
import Spinner from '../Spinner.vue'

export default {
  name: 'login', 
  components: {
       'spinner': Spinner,
  },
  data() {
    return {
      isBusy: false,
      user: { },
      errors: [],
      validUser: null,
      validPass: null,
    }
  },
  methods: {
    //Méthode qui est appelée lorsqu'on clique sur le bouton "Se connecter" après avoir rempli le formulaire.
    login() {
      this.isBusy = true;
      this.errors.pop();
      axios({
        method: 'POST',
        url: '/api/Token',
        contentType: 'application/x-www-form-urlencoded; charset=utf-8',
        data: `grant_type=password&username=${this.user.Username}&password=${this.user.Password}`,
      }).then((response) => {
        const now = new Date();
        const nowPlus1Hour = new Date(now.getTime() + (1 * 1000 * 60 * 60));
        localStorage.setItem('token', JSON.stringify({
          access_token: response.data.access_token,
          created_on: now.getTime(),
          expire_in: nowPlus1Hour.getTime(),
          role: response.data.role,
        }));
        localStorage.setItem('role', response.data.role);
        this.setUser();
      }).catch((error) => {
        this.errors.push("Nom d'utilisateur et/ou mot de passe invalide(s)");
        console.log(error);
      }).finally(() => this.isBusy = false);
    },
    getUser() {
      return this.$store.state.currentUser;
    },
    setUser() {
      this.$store.dispatch('authentication/getUserByUsername', this.user.Username);
      if(localStorage.getItem('role') == "User") {
        this.$router.push('/userpage');
      }
      else {
        this.$router.push('/recherche');
      }
      setTimeout(() => {
        this.$router.go()
      }, 500); 
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.bottomLine {
  margin-top: 10px;
}

.hero-body {
  background: #dbc8b6;
}
</style>