<!-- Page d'inscription, pour se créer un compte. On y accède en cliquant sur le bouton en haut à droit. 

     Fait par: Jacky - Validations faites par David. -->
<template>
  <div>
    <section class="hero is-fullheight" @submit.prevent="register()">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-4 is-offset-4">
            <h3 class="title has-text-grey">Créer un compte</h3>
            <p class="subtitle has-text-grey">Entrez quelques informations pour pouvoir créer un compte.</p>
            <div class="box">
              <form>
                <p v-if="errors.length">
                <ul>
                  <li v-for="error in errors" :key="error">{{ error }}</li>
                </ul>
                </p>

								<div class="field">
                  <div class="control">
                    <input class="input is-large"
                           type="text"
                           placeholder="Nom"
                           v-model="user.Nom" autofocus
                           pattern=".{3,50}"
                           title="Entre 3 et 50 caractères">
                  </div>
                </div>

								<div class="field">
                  <div class="control">
                    <input class="input is-large"
                           type="text"
                           placeholder="Prénom"
                           v-model="user.Prenom"
                           pattern=".{3,50}"
                           title="Entre 3 et 50 caractères">
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                    <input class="input is-large"
                           type="text"
                           placeholder="Nom d'utilisateur"
                           v-model="user.Username"
                           pattern=".{3,20}"
                           title="Entre 3 et 50 caractères">
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                    <input class="input is-large"
                           type="email"
                           placeholder="Courriel"
                           v-model="user.Email">
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                    <input class="input is-large"
                           type="password"
                           placeholder="Mot de passe"
                           v-model="user.Password"
                           pattern=".{3,30}"
                           title="Entre 3 et 30 caractères">
                  </div>
                </div>

								<div class="field">
                  <div class="control">
                    <input class="input is-large" type="password" placeholder="Confirmer le mot de passe" v-model="confirmerMDP">
                  </div>
                </div>
                 <spinner v-bind:show="isBusy" />
                <button class="button is-block is-info is-large is-fullwidth" type="submit">Créer le compte</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import axios from 'axios';
import Spinner from '../Spinner.vue';

export default {
  name: "signup",
  components: {
    'spinner': Spinner,
  },
  data() {
    return {
      isBusy: false,
      user: { },
      errors: [],
      confirmerMDP: "",
    };
  },
  methods: {
    //Méthode qui est appelée lorsqu'on clique sur le bouton "Créer le compte".
    register() {
      this.errors = [];
      this.isBusy = true;
      if (this.user.Password != this.confirmerMDP) {
        this.checkForm(true); //Le boolean ici représente si le mot de passe ne concorde pas avec la confirmation de mot de passe.
        return;
      }
      const urlApi = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '') + '/';
      axios.post(urlApi + 'api/User/', this.user)
      .then(response => {
        this.$router.replace('/login');
      })
      .catch((error) => {
        this.checkForm(false);
      })
      .finally(() => this.isBusy = false);
    },
    //Méthode qui vérifie si tous les champs ont été remplis et si le mot de passe et la confirmation du mot de passe concordent.
    checkForm(mauvaisMDP) {
      this.errors = [];

      if (this.user.Username == null || this.user.Username == "")
        this.errors.push("Nom d'utilisateur requis.");
      
      if (this.user.Email == null || this.user.Email == "")
        this.errors.push('Courriel requis.');
      
      if (this.user.Nom == null || this.user.Nom == "")
        this.errors.push('Nom requis');
      
      if (this.user.Prenom == null || this.user.Prenom == "")
        this.errors.push('Prénom requis');
      
      if (this.user.Password == null || this.user.Password == "")
        this.errors.push("Mot de passe requis");
        
      if (mauvaisMDP)
        this.errors.push("Le mot de passe ne concorde pas avec la confirmation");
      
      if (!this.errors.length)
        return true;
    },
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.hero {
  background: #dbc8b6;
}
</style>
