<!-- Cette page est affichée lorsqu'on clique sur le bouton "Détails" d'un item.
     Elle permet à un utilisateur de procéder à l'achat. 

     Fait par: David - urlApi fait par Jacky. -->
<template>
  <div>
    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-3">
              <aside class="menu">
                <sidebar></sidebar>
              </aside>
            </div>
            <div class="column">
              <div class="box">
                <div class="columns">
                  <div class="column is-2">
                    <figure class="image is-3by4">
                      <img :src="livre.ImageURL" alt="Image internet">
                    </figure>
                  </div>
                  <div class="column has-text-centered">
                    <div>
                      <h1 class="title is-1 has-text-gray">{{ itemLivre.Titre }}</h1>
                    </div>
                    <div>
                      <h3 class="subtitle is-3 has-text-gray">Vendu par: {{ user.Prenom }} {{ user.Nom }} </h3>
                    </div>
                    <div class="columns has-text-centered">
                      <div class="column is-half">
                        <label id="infoPrix">Prix: {{ itemLivre.Prix.toFixed(2) }}$ </label>
                      </div>
                      <div class="column">
                        <label id="infoEtat">État: {{ etatString }} </label>
                      </div>
                    </div>
                    <div>
                      <label id="infoDescription" class="label">Description</label>
                      <div class="control">
                        <textarea class="textarea has-fixed-size is-info" readonly name="description" id="description"
                          rows="6" v-model="itemLivre.Description"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <!-- <div class="columns is-vcentered">
                    <div class="column is-offset-2">
                      <figure class="image is-square">
                        <img :src="this.url[0]" alt="Erreur image">
                      </figure>
                    </div>
                    <div class="column">
                      <figure class="image is-square">
                        <img src="" alt="Erreur image">
                      </figure>
                    </div>
                    <div class="column">
                      <figure class="image is-square">
                        <img src="" alt="Erreur image">
                      </figure>
                    </div>
                  </div> -->
                  <div class="has-text-centered">
                    <button class="button is-info is-medium" type="button" @click="reserve" v-if="(role == 'User')">Réserver ce livre</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import axios from 'axios';
import Sidebar from './Sidebar.vue';

export default {
  name: 'detailItemLivre',
  
  components: {
    'sidebar': Sidebar,
  },
  data() {
    return {
      commande: { },
      role: localStorage.getItem('role'),
      //url: [], //Tableau d'URLs images.
    };
  },
  created() {
    this.$store.dispatch('itemlivres/getItemLivreParId', localStorage.getItem('itemLivreId'));
  },
  computed: {
    itemLivre() {
      return this.$store.state.itemlivres.itemLivre;
    },

    livre() {
      return this.$store.state.livres.livre;
    },

    user() {
      return this.$store.state.authentication.vendeurDetail;
    },

    //"Etat" est un Enum dans le backend, alors selon le chiffre retourné, on affiche la string correspondante.
    etatString() {
      if (this.itemLivre.Etat == 0)
        return 'Excellent';
      if (this.itemLivre.Etat == 1)
        return 'Très bon';
      if (this.itemLivre.Etat == 2)
        return 'Bon';
      if (this.itemLivre.Etat == 3)
        return 'Acceptable';
      if (this.itemLivre.Etat < 0 || this.itemLivre.Etat > 3)
        return 'Erreur';
    },

    //Les URLs images sont en fait regroupées dans une seule longue string. Cette méthode les sépare.
    // urlImage() {
    //   try {
    //     this.itemLivre.ImageURLs.split(',').forEach(image => {
    //       this.url.push(image);
    //     });
    //   }
    //   catch (error) {
    //     return "@/assets/no-image.png";
    //   }        
    // },
  },
  methods: {
    /*Méthode appelée lorsque l'utilisateur achète le livre (bouton "Réserver ce livre"). Elle modifie le statut de l'item
    et crée un objet "Commande" pour l'utilisateur.*/
    reserve() {
      this.commande.IdItemAchete = this.$store.state.itemlivres.itemLivre.Id;
      this.commande.IdClient = this.$store.state.authentication.currentUser.Id;
      this.itemLivre.Statut = 1 //ItemLivre Statut 1 : Réservé

      const urlApi = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '') + '/';
      axios.put(urlApi + `api/ItemLivre/${this.itemLivre.Id}`, this.itemLivre)
        .then(response => {
          axios.post(urlApi + 'api/Commande/', this.commande)
            .then(response => {
              localStorage.setItem('numeroCommande', response.data.NumeroCommande);
              this.$router.replace('/detailCommande');
            })
            .catch((error) => {
              //Add validations
              console.log(error);
            });
        })
        .catch((error) => {
          //Add validations
          console.log(error);
        });
    },
  },

  //Permet de régler des problèmes d'async (ex: dispatch ces méthodes quand itemLivre est encore null).
  watch: {
    itemLivre: function() {
      this.$store.dispatch('livres/getLivreParId', this.itemLivre.IdLivre);
      this.$store.dispatch('authentication/getUserById', this.itemLivre.IdVendeur);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
label {
  margin: 20px;
}

h3 {
  padding-bottom: 20px;
}

#infoPrix, #infoEtat {
  font-weight: 500;
  font-size: 22px;
}

#infoDescription {
  font-weight: 600;
  font-size: 26px;
}

.hero {
	background: #dbc8b6;
}
</style>