<!-- Cette page affiche tous les résultats à l'utilisateur après une recherche dans la page "Recherche". 
     
     Fait par: Jacky - Filtres faits par David. -->
<template>
  <div>
    <section class="hero is-fullheight">
      <div class="columns">
        <div class="column is-3">
          <aside class="menu">
            <sidebar></sidebar>
          </aside>
        </div>
        <div class="column is-9">
          <section class="hero is-info is-small">
            <div class="hero-body">
              <div class="container">
                <h1 class="title">{{ this.livreTitle }}</h1>
              </div>
            </div>
          </section>
          <div id="contenu">
            <one-itemLivre
             class="box"
             :itemLivre="itemLivre" v-for="itemLivre in itemLivresFiltres"
             :key="itemLivre.Id">
            </one-itemLivre>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import axios from 'axios';
import Sidebar from './Sidebar.vue';
import OneItemLivre from './OneItemLivre.vue';

export default {
  name: 'listitemlivre',
  components: {
      'sidebar': Sidebar,
      'one-itemLivre': OneItemLivre,
  },
  data() {
    return {
    };
  },
  created() {
    this.$store.dispatch('livres/getLivreTitleParId', localStorage.getItem('livreId'));
    this.$store.dispatch('itemlivres/getItemLivresParIdLivre', localStorage.getItem('livreId'));
  },
  methods: {
  },
  computed: {
    itemLivres() {
      return this.$store.state.itemlivres.all;
    },
    livreTitle() {
      return this.$store.state.livres.livreTitle;
    },
    filtrePrix() {
      return this.$store.state.itemlivres.filtrePrix;
    },
    filtreEtat() {
      return this.$store.state.itemlivres.filtreEtat;
    },
    /*Cette méthode retourne un tableau filtré selon le prix maximum et l'état minimum qu'un item peut avoir.
    Ces données sont recueillies par le store à partir de la Sidebar.*/
    itemLivresFiltres() {
      let tab = [];
      //Filtre par prix
      this.itemLivres.forEach(item => {
        if (item.Prix <= this.filtrePrix)
          tab.push(item);
      });
      //Filtre par état
      let tab2 = [];
      tab.forEach(item => {
        if (item.Etat <= this.filtreEtat)
          tab2.push(item);
      });
      return tab2;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
#contenu .box {
	margin-top: 20px;
	margin-right: 0px;
}

.hero {
	background: #dbc8b6;
}

.hero-body {
  background: rgb(113,0,0);
  background: linear-gradient(180deg, rgba(113,0,0,1) 9%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 92%, rgba(113,0,0,1) 92%);
}
</style>