<!-- Composant qui englobe les informations principales d'un item. Ce composant est affiché plusieurs fois 
     dans la page "ListItemLivre". Un composant pour chaque itemLivre retourné par la recherche. 
     
     Fait par: Jacky - Méthode "etatString" fait par David. -->
<template>
    <div class="columns" v-if="itemLivre.Statut == 0">
      <div class="column is-3">
        <img :src="livre.ImageURL"
             alt="Erreur image" width="125px">
      </div>
      <div class="column is-9">
      <h1 class="title is-4">
        {{ itemLivre.Titre }}
      </h1>
      <div>
        &#201;tat :
        {{ etatString }}
      </div>
      <div>
        Prix : 
        {{ itemLivre.Prix.toFixed(2) }} $
      </div>
      <div>
        {{ itemLivre.Vendeur }}
      </div>
      <div>
        <button class="button" @click="detailRedirect">Details</button>
      </div>
      </div>
    </div>
</template>
<script>
export default {
  name: 'one-itemlivre',
  props: {
      itemLivre: {
        required: true,
        type: Object,
      },
  },
  created() {
    this.$store.dispatch('livres/getLivreParId', this.itemLivre.IdLivre);
  },

  //"Etat" est un Enum dans le backend, alors selon le chiffre retourné, on affiche la string correspondante.
  computed: {
    etatString() {
      if (this.itemLivre.Etat == 0)
        return 'Excellent';
      if (this.itemLivre.Etat == 1)
        return 'Très bon';
      if (this.itemLivre.Etat == 2)
        return 'Bon';
      if (this.itemLivre.Etat == 3)
        return 'Acceptable';
      if (this.itemLivre.Etat < 0 || this.itemLivre.Etat > 3)
        return 'Erreur';
    },

    livre() {
      return this.$store.state.livres.livre;
    },
    
    /*Les URLs images sont en fait regroupées dans une seule longue string.
    Cette méthode les sépare et on prend la première seulement.*/
    // urlImage() {
    //   try {
    //     let url = this.itemLivre.ImageURLs.split(',', 1);
    //     return url;
    //   }
    //   catch (error) {
    //     return "";
    //   }        
    // },
  },

  methods: {
    //Méthode qui redirige l'utilisateur vers la page affichant tous les détails d'un item.
    detailRedirect() {
      this.$store.dispatch('itemlivres/setItemLivreIdLocalStorage', this.itemLivre.Id);
      this.$router.push('/detailItemLivre');
    },
  },

}
</script>
