<!-- Ce composant est une barre latérale qui se trouve dans les pages ListItemLivre et SetailItemLivre.
     Elle sert à filtrer les résultats d'une recherche par prix et état. 
     
     Fait par : David -->
<template>
  <div id="contenu" class="box">
    <div class="column has-text-centered">
      <div class="hero is-dark">Filtrer par prix</div>
        <div class="select is-fullwidth">
          <select name="filtrePrix" id="filtrePrix" v-model="filtrePrix">
            <option selected value="1000">Aucun filtre</option>
            <option value="30">30$ ou -</option>
            <option value="20">20$ ou -</option>
            <option value="15">15$ ou -</option>
            <option value="10">10$ ou -</option>
            <option value="5">5$ ou -</option>
          </select>
        </div>
      <div id="labelFiltreEtat" class="hero is-dark">Filtrer par état</div>
        <div class="select is-fullwidth">
          <select name="filtreEtat" id="filtreEtat" v-model="filtreEtat">
            <option selected value="3">Aucun filtre</option>
            <option value="2">Bon ou +</option>
            <option value="1">Très bon ou +</option>
            <option value="0">Excellent</option>
          </select>
        </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'sidebar',
	data() {
		return {
			afficher: false,
			resultats: [],
			stringRecherche: "",
      idMatiere: 0,
      filtrePrix: 1000,
      filtreEtat: 3,
		 };
  },
  
  created() {
    this.$store.dispatch('matieres/getAllMatieres');
  },

  computed: {
		allMatieres() {
			return this.$store.state.matieres.all;
    },
  },

  //L'utilisateur peut filtrer les résultats dans la page "ListItemLivre" selon le prix et l'état d'un item.
  watch: {
    filtrePrix() {
      this.$store.dispatch('itemlivres/updateFiltrePrix', this.filtrePrix);
    },
    filtreEtat() {
      this.$store.dispatch('itemlivres/updateFiltreEtat', this.filtreEtat);
    },
  },
}
</script>

<style scoped lang="scss">
#labelFiltreEtat {
  margin-top: 50px;
}
</style>