<!-- Ceci est le composant qui affiche la barre latérale dans la page de l'admin.

     Fait par: Jacky -->
<template>
      <div class="column is-3">
        <aside class="menu">
          <p class="menu-label">General</p>
          <ul class="menu-list">
            <li>
              <a @click="redirectPageProfil" class="is-active">Tableau de bord</a>
            </li>
            <li>
              <a>Utilisateurs</a>
            </li>
          </ul>
          <p class="menu-label">Administration</p>
          <ul class="menu-list">
            <li>
              <a>Placeholder</a>
            </li>
          </ul>
          <p class="menu-label">Transactions</p>
          <ul class="menu-list">
            <li>
              <a>Placeholder</a>
            </li>
          </ul>
        </aside>
      </div>
</template>

<script>
export default {
  name: "adminsidebar",

  methods: {
    redirectPageProfil() {
      this.$router.replace('/adminpage');
    },
  },
}
</script>
<style lang="scss">
body {
  background-color: grey;
}

.menu {
  margin-left: 10px;
}

.menu-label {
  padding-top: 40px;
}

.menu-list {
  padding-top: 10px;
  margin-top: 10px;
}
</style>
