<!-- Cette page est la page de "profil" de l'admin. On y accède est allant à en haut à droite de la page.
     C'est dans cette page que l'admin peut chercher des commandes par no. de commande ou part utilisateur.
     
     Fait par: Jacky -->
<template>
  <div class="container hero is-fullheight">
    <div class="columns">
      <sidebar class="hero"></sidebar>
      <div class="column is-9">
        <section class="hero is-info is-small">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">Gestion des livres</h1>
            </div>
          </div>
        </section>
        <div class="columns">
          <div class="column is-6">
          </div>
          <div class="column is-6">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">Chercher par numéro de commande</p>
              </header>
              <div class="card-content">
                <div class="content">
                  <div class="control has-icons-left has-icons-right">
                    <input class="input is-large"
                           type="text"
                           v-model="noCommandeSearch"
                           v-on:keyup.enter="submitSearchNoCommande"
                           maxlength=8>
                    <span class="icon is-medium is-left">
                      <font-awesome-icon :icon="['fa', 'search']"/>
                    </span>
                    <span class="icon is-medium is-right">
                      <font-awesome-icon :icon="['fa', 'check']"/>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">Chercher par nom d'utilisateur</p>
              </header>
              <div class="card-content">
                <div class="content">
                  <div class="control has-icons-left has-icons-right">
                    <input class="input is-large"
                           type="text"
                           v-model="userSearch"
                           v-on:keyup.enter="submitSearchUser">
                    <span class="icon is-medium is-left">
                      <font-awesome-icon :icon="['fa', 'search']"/>
                    </span>
                    <span class="icon is-medium is-right">
                      <font-awesome-icon :icon="['fa', 'check']"/>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AdminSidebar from './AdminSidebar.vue'

export default {
  name: "adminpage",
  components: {
    'sidebar': AdminSidebar,
  },
  data() {
    return {
      userSearch: '',
      noCommandeSearch: '',
    };
  },
  methods: {
    //Cette méthode redirige l'admin vers une liste de commandes selon le nom d'utilisateur entré.
    submitSearchUser() {
      localStorage.setItem('searchedUser', this.userSearch);
      this.$router.push('/searchresultuser');
    },
    //Cette méthode redirige l'admin vers une transaction selon le numéro de commande entré.
    submitSearchNoCommande() {
      localStorage.setItem('searchedCommande', this.noCommandeSearch);
      this.$router.push('/searchresultcommande');
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.columns {
  width: 100%;
  height: 100%;
  margin-left: 0px;
}
.menu-label {
  color: #8F99A3;
  letter-spacing: 1.3;
  font-weight: 700;
}
.menu-list a {
  color: #0F1D38;
  font-size: 14px;
  font-weight: 700;
}
.menu-list a:hover {
  background-color: transparent;
  color: #276cda;
}
.menu-list a.is-active {
  background-color: transparent;
  color: #276cda;
}
.hero-body {
   background: rgb(113,0,0);
   background: linear-gradient(180deg, rgba(113,0,0,1) 9%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 92%, rgba(113,0,0,1) 92%);  
}
.info-tiles {
  margin: 16px 0;
}
.hero {
		background: #dbc8b6;
}
</style>