<!-- L'admin est redirigé vers cette page après avoir recherché une commande par son numéro de commande.
     Elle affiche la commande (s'il y a lieu) correspondante au numéro entré.
     
     Fait par: Jacky -->
<template>
    <div class="hero is-fullheight">
      <div class="columns">
            <sidebar></sidebar>
        <div class="column is-9">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">Transaction #{{ searchedCommande }}</h1>
            </div>
          </div>
          <onetransaction
                class="box"
                :commande="commande">
          </onetransaction>
        </div>
      </div>
    </div>
</template>

<script>
import axios from 'axios';
import AdminSidebar from './AdminSidebar.vue';
import OneTransaction from '../User/OneTransaction.vue'

export default {
  name: 'searchresultcommande',
  components: {
    'sidebar': AdminSidebar,
    'onetransaction': OneTransaction,
  },
  data() {
    return {
      searchedCommande: localStorage.getItem('searchedCommande'),
    };
  },
  created() {
    this.$store.dispatch('commandes/getCommandeByNoCommande', localStorage.getItem('searchedCommande'));
  },
  methods: {
  },
  computed: {
    commande: function() {
      return this.$store.state.commandes.oneCommande;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.box {
  margin-top: 10px;
  margin-right: 0px;
}

.hero-body {
  background: rgb(113,0,0);
  background: linear-gradient(180deg, rgba(113,0,0,1) 9%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 92%, rgba(113,0,0,1) 92%);
}

.title {
  color: white;  
}

.hero {
	background: #dbc8b6;
}
</style>