<!-- Page accessible par l'admin qui lui permet de créer un objet itemLivre lorsqu'un
     utilisateur se présente pour vendre son livre. 
     
     Fait par: David 
     
     NOTE AU PROF: Jacky et moi avons essayer pendant des heures et des heures à implanter
     des images. Nous voulions que chaque itemLivre ait de 1 à 3 photos pour mieux montrer
     aux potentiels acheteurs l'état du livre. Nous avons chercher sur des dizaines de sites
     et demandé à plusieurs personnes de la classes, mais nous n'avons pas réussi. L'admin
     était supposé upload des images de l'ordinateur.
     
     Vous allez voir dans plusieurs pages .vue des blocs de codes. Ils sont par rapport aux images.-->
<template>
  <div>
    <section class="hero" @submit.prevent="terminer()">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-6 is-offset-3">
            <h1 class="title is-1 has-text-gray">Mettre un livre en vente</h1>
            <div class="box">
              <form enctype="multipart/form-data" action="">
                <div class="columns">
                  <div class="column is-two-thirds">
                    <div class="field">
                      <label class="label" for="">Titre</label>
                      <div class="control">
                        <input type="text" class="input" pattern=".{3,50}" required placeholder="Titre" name="txtTitre" id="txtTitre" v-model="itemLivre.Titre">
                      </div>
                    </div>
                  </div>
                  <div class="column">
                    <label class="label" for="">Vendeur</label>
                    <div class="control">
                      <input type="text" class="input" required placeholder="Nom d'utilisateur" name="txtVendeur" id="txtVendeur"
                       v-model="usernameVendeur" @blur="dispatchVendeur" v-bind:class="{ 'is-danger': !userExists }">
                    </div>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-third">
                    <div class="field">
                      <label class="label" for="">État du livre</label>
                      <div class="select">
                        <select name="etat" id="etat"
                                required
                                v-model.number="itemLivre.Etat">
                          <option value="0">Excellent</option>
                          <option value="1">Très bon</option>
                          <option value="2">Bon</option>
                          <option value="3">Acceptable</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="field">
                      <label class="label" for="">Prix du livre</label>
                      <div class="control">
                        <input type="number"
                               required step="0.01" min="0"
                               class="input" placeholder="Prix"
                               name="txtPrix" id="txtPrix"
                               v-model.number="itemLivre.Prix">
                      </div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="field">
                      <label class="label" for="">Matière</label>
                      <div class="select">
                        <select name="matiere" id="matiere" required v-model="idMatiere" @change="filtreLivreParMatiere()">
                          <option disabled selected value="0">Choisir...</option>
                          <option v-for="matiere in allMatieres"
                                  :value="matiere.Id"
                                  :key="matiere.Id"> {{ matiere.Nom }} </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="field">
                    <label class="label" for="">Quel est le livre à publier?</label>
                    <div class="select" v-bind:class="{ 'is-loading': isLoading }">
                      <select name="livre" id="livre" required
                              v-bind:disabled="isLoading"
                              v-model.number="itemLivre.IdLivre">
                        <option disabled selected value="default">Choisir...</option>
                        <option v-for="livre in livres"
                                :value="livre.Id"
                                :key="livre.Id"> {{ livre.Titre }} </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <label class="label" for="">Description</label>
                  <div class="control">
                    <textarea class="textarea has-fixed-size is-info" name="description" id="description" cols="40"
                      v-model="itemLivre.Description" rows="10" placeholder="Exemple: Page manquante, code internet utilisé, page pliée, traces de crayons à l'intérieur..."></textarea>
                  </div>
                </div>
                <!-- <div class="columns is-vcentered">
                  <div class="column is-one-fifth">
                    <h4 class="subtitle has-text-gray is-4" for="">Images</h4>
                  </div>
                  <div class="column">
                    <div class="file">
                      <label class="file-label">
                        <input class="file-input" type="file" name="parcourir" @change="onFileChange" accept="image/*">
                        <span class="file-cta">
                          <span class="file-label">
                            Parcourir...
                          </span>
                        </span>
                      </label>
                    </div>
                  </div>
                  <div class="column">
                    <figure class="image is-3by4">
                      <img :src="url[0]" alt="Image du livre">
                    </figure>
                  </div>
                  <div class="column">
                    <figure class="image is-3by4">
                      <img :src="url[1]" alt="Image du livre">
                    </figure>
                  </div>
                  <div class="column">
                    <figure class="image is-3by4">
                      <img :src="url[2]" alt="Image du livre">
                    </figure>
                  </div> 
                </div> -->
                <div class="column is-4 is-offset-4">
                  <input class="button is-info is-medium is-fullwidth" type="submit" value="Terminer">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'vente',
  data() {
		return {
      itemLivre: { }, //L'objet "itemLivre" que nous allons envoyer par axios.post.
      idMatiere: 0,
      usernameVendeur: '',
      isLoading: false, //Boolean qui affiche un petit signe de chargement (lorsque true) sur le dropdownlist de livres.
      //url: [], //Tableau d'URLs image.
     };
	},
	created() {
    this.$store.dispatch('matieres/getAllMatieres');
	},
	computed: {
		allMatieres() {
			return this.$store.state.matieres.all;
    },
    livres() {
      return this.$store.state.livres.all;
    },
    idVendeur() {
      return this.$store.state.authentication.vendeur;
    },
    userExists() {
      if (this.idVendeur == 0)
        return false;
      else
        return true;
    }
  },
  methods: {
    //Méthode qui POST l'itemLivre créer par l'admin.
    terminer() {
      //Ne pas procéder si le nom d'utilisateur du vendeur n'existe pas.
      if (!this.userExists)
        return;

      //Statut 0 = Disponible
      this.itemLivre.Statut = 0;
      //Construction du string pour la date de mise en vente
      this.itemLivre.DateMiseEnVente = this.construireStringDate();
      //ID du vendeur
      this.itemLivre.IdVendeur = this.idVendeur;

      // //URL images pour l'itemLivre
      // this.itemLivre.ImageURLs = "";
      // this.url.forEach(element => {
      //   this.itemLivre.ImageURLs += element + ", ";
      // });
      const urlApi = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '') + '/';
      axios.post(urlApi + 'api/ItemLivre/', this.itemLivre)
      .then(response => {
        this.$router.replace('/recherche');
      })
      .catch((error) => {
        console.log(error);
        console.log("POST failed");
      });
    },

    /*Lorsqu'on clique à l'extérieur du textbox "Vendeur", cette méthode est appelée.
      Elle vérifie si le nom d'utilisateur du vendeur entré existe.*/
    dispatchVendeur() {
      this.$store.dispatch(`authentication/getVendeurByUsername`, this.usernameVendeur);
    },

    //Méthode qui filtre le dropdown de livres par la matière choisie.
    filtreLivreParMatiere() {
      this.$store.dispatch(`livres/getLivreParIdMatiere`, this.idMatiere);
      this.loading(); 
    },

    //Méthode qui bloque le dropdown de livres pour une seconde, le temps que les données soient chargées.
    loading() {
      this.isLoading = true;
      setTimeout(() => { this.isLoading = false }, 1000);
    },

    /*Lorsqu'on clique sur "Parcourir" et qu'on choisi une image, cette méthode est appelée
      et met le lien de l'image dans un tableau. 3 images maximum*/
    // onFileChange(e) {
    //   let file = e.target.files[0];
    //   if (this.url.length < 3) {
    //     this.url.push(URL.createObjectURL(file));
    //     let data = new FormData();
    //     data.append('file', file);
    //     axios.post(`http://localhost:57340/api/ItemLivreImages/`, data, {
    //       headers: {
    //         'Content-Type': 'multipart/form-data',
    //       }
    //     }).then(response => {
    //       console.log('wow');
    //       console.log(data);
    //       console.log(response.data);
    //     }).catch(error => {
    //       console.log(error);
    //       console.log(data);
    //     });
    //   }
    // },

    //Méthode qui construit une string de date selon le format accepté par EntityFramework dans le backend.
    construireStringDate() {
      let date = new Date();
      let dateString = "";
      dateString += date.getFullYear();
      dateString += "-";
      dateString += (date.getMonth() + 1); //Javascript commence par 0 (Janvier = 0)
      dateString += "-";
      dateString += date.getDate();
      dateString += "T";
      dateString += date.getHours();
      dateString += ":";
      dateString += date.getMinutes();
      dateString += ":";
      dateString += date.getSeconds();
      dateString += ".";
      dateString += date.getMilliseconds();
      return dateString;
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
#livre {
  width: 450px;
}

#txtPrix {
  min-width: 80px;
}

.box {
  min-width: 480px;
}

.hero {
	background: #dbc8b6;
}
</style>