<!-- Le footer de l'application

     Fait par: David -->
<template>
  <div class="section has-text-centered">
      <div>
        MaisonusedBooks, une application de revente de livres usagés par Jacky Cao et David Paradis-Côté
      </div>
      <div>
        <a href="">User Guide</a>
      </div>
  </div>
</template>

<script>
export default {
  name: 'FooterApp',
  
}
</script>

<style lang="scss" scoped>
.section {
  padding: 10px;
  font-family: 'Franklin Gothic Medium', sans-serif;
  color: rgb(75, 50, 65);
  background: radial-gradient(circle, rgb(30, 5, 10), rgb(45, 10, 15), rgb(65, 15, 20))
}
a {
  color: rgb(100, 30, 100);
}
</style>

