<!-- La barre de navigation du site. Elle possède les liens vers les pages "Recherche" et "Vente", 
     en plus des boutons "Se connecter" et "Créer un compte", ou "Profil" si l'utilisateur est déjà connecté. 
     
     Fait par: Jacky -->
<template>
  <nav class="navbar has-shadow is-fullwidth is-black">
    <div class="container">
      <div class="navbar-brand">
        <router-link to="/recherche" class="navbar-brand">
          <img src="@/assets/logo.png" alt="MyBad" />
        </router-link>
      </div>
      <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
          <router-link to="/recherche" class="navbar-item">Accueil</router-link>
          <router-link to="/vente" class="navbar-item" v-if="role == 'Admin'">Vente</router-link>
        </div>
        <div class="navbar-end" v-if="!isLoggedIn">
          <div class="navbar-item">
            <div class="buttons">
              <router-link to="/signup" class="navbar-item button is-primary">Créer un compte</router-link>
              <router-link to="/login" class="navbar-item button is-light">Se connecter</router-link>
            </div>
          </div>
        </div>
        <div class="navbar-end" v-if="isLoggedIn">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> {{ user }}</a>
            <div class="navbar-dropdown">
              <router-link to="/userpage" class="navbar-item" v-if="role != 'Admin'">Profil</router-link>
              <router-link to="/adminpage" class="navbar-item" v-if="role == 'Admin'">Profil</router-link>
              <hr class="navbar-divider" />
              <a class="navbar-item" v-on:click="logout()">Se déconnecter</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>


<script>
import AuthService from '../auth-service';
import axios from 'axios';

export default {
  name: 'navbar',
  data() {
    return {
       role: localStorage.getItem('role'),
    };
  },
  created() {
     this.$store.dispatch('authentication/readCurrentUser');
  },
  computed: {
    isLoggedIn: function() {
      return !AuthService.tokenIsInvalid();
    },
    user: function() {
      return this.$store.state.authentication.currentUser.Username;
    },
  },
  methods: {
    //Déconnection de l'utilisateur.
    logout() {
      AuthService.deconnectUser();
      localStorage.setItem('role', 'none');
      this.$router.push('/recherche');
      location.reload();
    },
  },
}
</script>
<style lang="scss">
.navbar-brand {
   height: 100px;
   width: 100px;
   height: 100px;
   float: left;
   position: absolute;
}

.navbar {
   background: rgb(108,0,0);
   background: linear-gradient(169deg, rgba(38,38,38,1) 0%,rgba(108,0,0,1) 55%,); 
   color: white;
}

.navbar-start {
   margin-left: 100px;
}
</style>