<!-- Ceci est la page de recherche principale de notre application. C'est ici que l'utilisateur
		 effectue sa recherche pour acheter un livre. 
		 
		 Fait par: David - Quelques modifications par Jacky -->
<template>
	<div>
		<section class="hero is-fullheight">
			<div class="hero-body">
				<div class="container has-text-centered" @click="cacherListe()">
					<div class="column is-6 is-offset-3">
						<h1 class="title is-1 has-text-gray">Que cherchez-vous?</h1>
						<div class="control content">
							<input type="text" @input="onChange()"
											   v-model="stringRecherche"
											   class="input is-large"
											   placeholder="Entrez le nom du livre recherché"
											   name="txtRecherche"
											   id="txtRecherche">
						  	<ul v-show="afficher" 
								    class="is-scrollable">
								<li v-for="(choix, i) in resultats" :key="i" @click="setChoix(choix)">
									<img v-bind:src="choix.ImageURL"
									 		 alt="Image"
									  	 width="40px"
										 	 height="40px">
									{{ choix.Titre }}
								</li>
							</ul>
						</div>
					</div>
					<div id="column2" class="column is-6 is-offset-3">
						<h2 class="subtitle is-3 has-text-gray">Filtrez votre recherche par matière!</h2>
						<div class="select">
							<select name="matiere" id="matiere" v-model="idMatiere" @change="filtreLivreParMatiere()">
								<option selected value="0">Pas de filtre</option>
								<option v-for="matiere in allMatieres"
										    :value="matiere.Id"
												:key="matiere.Id"> {{ matiere.Nom }} </option>
							</select>
						</div>
					</div>
					<div id="column3" class="column is-4 is-offset-4">
						<div>
							<button id="boutonRecherche" class="button is-large is-info is-fullwidth" @click="submitSearch">Rechercher</button>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>


<script>
export default {
	name: 'recherche',
	data() {
		return {
			afficher: false, //Afficher le "ul" (la liste de suggestions)
			resultats: [],
			stringRecherche: "",
			idMatiere: 0,
		 };
	},
	/*En plus de "get" tous les livres et les matières, un ajoute un événement qui permet d'appuyer sur "Enter"
		en tout temps pour effectuer la recherche.*/
	created() {
		this.$store.dispatch('matieres/getAllMatieres');
		this.$store.dispatch('livres/getAllLivres');
		document.addEventListener('keyup', this.enterKeyListener);
	},
	computed: {
		allMatieres() {
			return this.$store.state.matieres.all;
		},
		livres() {
			return this.$store.state.livres.all;
		},
	},
	methods: {
		//Cacher la liste de suggestions quand on clique ailleurs que dans la barre de recherche.
		cacherListe() {
			this.afficher = false;
		},

		//Cette méthode est appelée à chaque fois que l'utilisateur entre ou efface une lettre dans la barre de recherche.
		onChange() {
			this.$emit("input", this.stringRecherche);
			this.filtrerResultats();
			this.afficher = true;
		},
		
		//Cette méthode filtre les résultats affichés dans la liste de suggestions selon ce qui est écrit dans la barre de recherche.
		filtrerResultats() {
			this.resultats = this.livres.filter(livre => {
				return livre.Titre.toLowerCase().indexOf(this.stringRecherche.toLowerCase()) > -1;
			});
		},

		//Cette méthode filtre les résultats dans la liste de suggestions selon la matière choisie dans la dropdownlist de matières.
		filtreLivreParMatiere() {
			if (this.idMatiere == 0)
				this.$store.dispatch('livres/getAllLivres');
			else
				this.$store.dispatch(`livres/getLivreParIdMatiere`, this.idMatiere);
		},

		//Lorsqu'on clique sur le nom d'un livre dans la liste de choix, cette méthode écrit le nom du livre dans la barre.
		setChoix(choix) {
			this.$store.dispatch('livres/setLivreId', choix.Id);
			this.stringRecherche = choix.Titre;
		},	
		
		/*Lorsqu'on clique sur le bouton "Rechercher" ou qu'on appuie sur "Enter", cette méthode est appelée. Elle amène l'utilisateur
		à la page listitemlivre qui affiche tous les livres vendus par d'autres utilisateurs du titre choisi. */
		submitSearch() {
			if(this.$store.state.livres.livreId == 0 || 
				 this.stringRecherche == "")
				{ console.log("Un livre doit être choisi"); }

			else
			  { this.$router.push('/listitemlivre'); }
		},

		//Méthode qui permet d'appuyer sur "Enter" pour effectuer la recherche.
		enterKeyListener: function(evt) {
      if (evt.keyCode === 13) {
        this.submitSearch();
      };
    },
	},
  destroyed: function() {
    document.removeEventListener('keyup', this.enterKeyListener);
  },
};


</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
	#column2 {
		margin-top: 50px;
	}

	.content {
		background-color: #f2cea4;
		color: black;
	}

	input {
		border: 0;
  	outline: 0;
  	background: #F4F4F4;
  	border-bottom: 2px solid black;
	}

	li {
		padding-bottom: 5px;
		list-style: none;
		border: 2px;
		border-color: black;
  	cursor: pointer;
	}

	ul {
		overflow-y: scroll;
		height: 225px;
	}

	#boutonRecherche {
		margin-top: 40px;
	}

	.hero {
		background: #dbc8b6;
	}
</style>
