<!-- Composant qui affiche une petite animation lors du chargement de certaines pages. 

     Fait par: Jacky -->
<template>
<div v-show="show" class="spinner">  
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
</div> 
</template>

<script>
export default {
    name: 'spinner',
    props: {
      show: {
          type: Boolean,
      },
  },
}
</script>

<style lang="scss" scoped>
.spinner-container {padding:16px 0}

.spinner {
    width: 40px;
    height: 40px;
  
    position: relative;
    margin: 30px auto;
  }
  
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #8A0707;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
  
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  @keyframes sk-bounce {
    0%, 100% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
      }
  }
</style>

