<!-- Fait par Jacky -->

<template>
    <div>
      <navbar class="is-fullwidth navclass"></navbar>
      <div id="app" class="container base-container">
        <transition name="page" mode="out-in">
            <router-view/>
        </transition>
      </div>
      <footerapp></footerapp>
    </div>
</template>

<script>

import AuthService from './auth-service';
import axios from 'axios';
import NavBar from '@/components/NavBar.vue';
import FooterApp from '@/components/FooterApp.vue';

export default {
  name: 'app',
  components: {
    'navbar': NavBar,
    'footerapp': FooterApp,
  },
  data() {
    return {
    };
  },
  
}
</script>

<style lang="scss">
body {
  background-image: url('assets/background.png');
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  color: rgba(252, 248, 239, 1);
}

.navclass {
  color: white;
}

.page-enter-active, .page-leave-active {
  transition: opacity 0.5s, transform 0.5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
  transform: translateX(-30%);
}

</style>
