<!-- Cette page s'affiche après l'achat d'un item par l'utilisateur. Elle donne les détails de la commande. 

     Fait par: David -->
<template>
  <div>
    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="content">
            <h1 class="title is-1 has-text-gray">Votre commande a bien été enregistrée</h1>
            <h4 class="subtitle is-4 has-text-gray">Veuillez vous rendre au local d'échange pour récupérer votre livre</h4>
            <div class="column is-6 is-offset-3">
              <div class="box">
                <div>
                  <h2 class="title is-3 has-text-gray">Détails de la commande</h2>
                </div>
                <div>
                  <h5 class="subtitle is-5 has-text-gray">Votre numéro de commande: </h5>
                  <label id="lblNoCommande">{{ commande }}</label>
                  <div>
                    <label for="">(Présentez-le au commis)</label>
                  </div>
                </div>
                <div class="divinfo">
                  <span class="lbl">Livre acheté: </span>
                  <span class="info">{{ livre.Titre }} </span>
                </div>
                <div class="divinfo">
                  <span class="lbl">Prix d'achat: </span>
                  <span class="info">{{ itemLivre.Prix.toFixed(2) }}$ </span>
                </div>
                <div class="divinfo">
                  <span class="lbl">Vendu par: </span>
                  <span class="info"> {{ user.Prenom }} {{ user.Nom }} </span>
                </div>
              </div>
            </div>
            <div>
              <button id="boutonAccueil" class="button is-large" @click="redirectAccueil">Retour à l'accueil</button>
              <button id="boutonTransaction" class="button is-large is-info" @click="redirectUserPage">Mes transactions</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'detailCommande',
  data() {
    return {};
  },
  created() {
    this.$store.dispatch('itemlivres/getItemLivreParId', localStorage.getItem('itemLivreId'));
  },
  computed: {
    itemLivre() {
      return this.$store.state.itemlivres.itemLivre;
    },

    user() {
      return this.$store.state.authentication.vendeurDetail;
    },

    livre() {
      return this.$store.state.livres.livre;
    },

    commande() {
      return localStorage.getItem('numeroCommande');
    },
  },
  methods: {
    redirectAccueil() {
      this.$router.replace('/recherche');
    },

    redirectUserPage() {
      this.$router.replace('/historiquetransaction');
    },
  },
  watch: {
    itemLivre: function() {
      this.$store.dispatch('livres/getLivreParId', this.itemLivre.IdLivre);
      this.$store.dispatch('authentication/getUserById', this.itemLivre.IdVendeur);
    },
  },
  
}
</script>

<style scoped lang="scss">
h2 {
  text-decoration: underline;
}

#lblNoCommande {
  margin: 10px;
  font-size: 45px;
  font-weight: 700;
}

.divinfo {
  margin-top: 20px;
}

.lbl {
  font-size: 20px;
  font-weight: 600;
}

.info {
  font-size: 20px;
}

#boutonAccueil {
  margin-right: 10px;
}

.hero {
	background: #dbc8b6;
}
</style>
