<!-- Cette page affiche toutes les transactions d'un utilisateur (avec le numéro de commande). 

		 Fait par: Jacky -->
<template>
	<div class="hero is-fullheight">
		<div class="columns">
		<sidebar></sidebar>
			<div id="contenu" class="column is-9">
				<section class="hero is-info is-small">
					<div class="hero-body">
						<h1 class="title">Transactions</h1>
					</div>
				</section>
			<onetransaction class="box" 
							:commande="commande"
							v-for="commande in commandes"
							:key="commande.Id">
			</onetransaction>
			</div>
		</div>
	</div>
</template>

<script>
import OneTransaction from './OneTransaction.vue';
import UserSideBar from './UserSidebar.vue';

export default {
	name: "historiquetransaction",
	components: {
		'onetransaction': OneTransaction,
		'sidebar': UserSideBar,
	},
	data() {
		return {}
	},
	created() {
		this.$store.dispatch('commandes/getCommandesByUser', this.$store.state.authentication.currentUser.Username);
	},

	computed: {
		commandes: function () {
			return this.$store.state.commandes.all;
		},
	},
}
</script>

<style lang="scss" scoped>
.columns {
  padding-top: 10px;
}

#contenu .box {
  margin-top: 20px;
  margin-right: 20px;
}

.hero {
  background: #dbc8b6;
}

.hero-body {
   background: rgb(113,0,0);
   background: linear-gradient(180deg, rgba(113,0,0,1) 9%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 92%, rgba(113,0,0,1) 92%);  
}
</style>

