<!-- Petit composant qui affiche le nom d'un commande. On le trouve dans "UserPage". 
     
     Fait par: Jacky -->
<template>
    <tbody v-if="itemLivre.Statut != 2">
    <td width="5%">
      <span class="icon is-small is-left">
        <font-awesome-icon :icon="['fas', 'bell']" /></span>
    </td>
    <td> Commande #{{ commande.NumeroCommande }} </td>
  </tbody>
</template>

<script>
import axios from 'axios';

export default {
  name: 'onecommande',
  props: {
    commande: {
      required: true,
      type: Object,
    },
  },
  data() {
    return {
      itemLivre: {},
    };
  },
  created() {
    axios.get(`api/ItemLivre/${this.commande.IdItemAchete}`).then((response) => {
      this.itemLivre = response.data;
    });
  },
}
</script>

<style lang="scss">
tbody {
  width: 50%;
}
</style>

