<!-- Composant qui englobe les informations d'une transaction. Ce composant est affiché plusieurs fois 
     dans la page "HistoriqueTransaction", un pour chaque transaction faite par l'utilisateur.
     Il est aussi affiché une ou plusieurs fois dans les résultats lorsqu'un admin cherche des transactions
     selon le nom d'un utilisateur ou un numéro de commande. 
     
     Fait par Jacky et David. -->
<template>
  <div v-if="dataReady" class="columns">
    <div class="column is-3">
      <img :src="livre.ImageURL"
        alt="Erreur image" width="125px">
    </div>
    <div class="column is-9">
      <div v-if="itemLivre.Statut == 2">
        <h1 class="subtitle is-3">Cet item a été vendu</h1>
      </div>
      <h1 class="title is-4">
        No. Commande:
        {{ commande.NumeroCommande }}
      </h1>
      <div v-if="itemLivre">
        <div>
          {{ itemLivre.Titre }}
        </div>
        <div>
          Prix :
          {{ itemLivre.Prix.toFixed(2) }} $
        </div>
        <div>
          {{ etatString }}
        </div>
        <div>
          Vendu par:
          {{ vendeur.Prenom }} {{ vendeur.Nom }}
        </div>
      </div>
      <button class="button is-success" v-on:click="changerStatusItem()" v-if="(role == 'Admin') && (itemLivre.Statut != 2)">Confirmer l'achat</button>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'onetransaction',
  props: {
      commande: {
        required: true,
        type: Object,
      },
  },
  data() {
    return {
      dataReady: false,
      role: localStorage.getItem('role'),
      itemLivre: { },
      vendeur: { },
      livre: { },
    };
  },
  created() {
    /*Nous ne sommes pas passé par le store ici, car la réponse arrivait trop lentement et nous n'avions pas les bonnes données lors du chargement du component.
    De plus, l'utilisation de store fait en sorte que les ItemLivres ont tous les memes Id.*/
    axios.get(`api/ItemLivre/${this.commande.IdItemAchete}`).then((response) => {
      this.itemLivre = response.data;
      axios.get(`api/User/${this.itemLivre.IdVendeur}`).then((response) => {
        this.vendeur = response.data;
        axios.get(`api/Livre/${this.itemLivre.IdLivre}`).then((response) => {
          this.livre = response.data;
        });
      });
    });
    //Variable qui devient "true" après 1 seconde, car les données prennent du temps à charger.
    setTimeout(() => {
      this.dataReady = true;
    }, 1000);
  },
  //"Etat" est un Enum dans le backend, alors selon le chiffre retourné, on affiche la string correspondante.
  computed: {
    etatString() {
      if (this.itemLivre.Etat == 0)
        return 'Excellent';
      if (this.itemLivre.Etat == 1)
        return 'Très bon';
      if (this.itemLivre.Etat == 2)
        return 'Bon';
      if (this.itemLivre.Etat == 3)
        return 'Acceptable';
      if (this.itemLivre.Etat < 0 || this.itemLivre.Etat > 3)
        return 'Erreur';
    },

    idItemAchete() {
      return this.commande.IdItemAchete;
    },
  },

  methods: {
    //Méthode qui change le statut de l'item de "Réservé" à "Acheté"
    changerStatusItem() {
      this.itemLivre.Statut = 2; //Acheté
      const urlApi = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '') + '/';
      axios.put(urlApi + `/api/ItemLivre/${this.itemLivre.Id}`, this.itemLivre)
        .then(response => {
          this.$router.go()
        })
        .catch((error) => {
          //Add validations
          console.log(error);
        });
    },
  },

  watch: {
    /*Ici nous avons un watch qui fait la même chose que le created. Pourquoi c'est ici? Parce que pour une raison
    complètement inconnue, lorsqu'on cherche une commande par no. de commande UNE PREMIERE FOIS après s'être
    connecté en tant qu'admin, les méthodes dans created() ne fonctionneront pas, alors le programme se placera ici.
    Toutes les fois d'après, les méthodes du created() vont fonctionner.*/
    idItemAchete() {
      console.log("WATCH");
      axios.get(`api/ItemLivre/${this.commande.IdItemAchete}`).then((response) => {
        this.itemLivre = response.data;
        axios.get(`api/User/${this.itemLivre.IdVendeur}`).then((response) => {
          this.vendeur = response.data;
          axios.get(`api/Livre/${this.itemLivre.IdLivre}`).then((response) => {
            this.livre = response.data;
          });
        });
      });
    },
  },
}
</script>
