<!-- Petit composant qui affiche le nom d'un commande. On le trouve dans "UserPage". 
     
     Fait par: Jacky -->
<template>
    <tbody>
    <td width="5%">
      <span class="icon is-small is-left">
        <font-awesome-icon :icon="['fas', 'bell']" /></span>
    </td>
    <td v-bind:style="{ color: activeColor }">
         Item {{ vente.Titre }}
    <p v-if="vente.Statut == 1">Réservé</p>
    <p v-if="vente.Statut == 2">Vendu (vous pouvez aller chercher votre argent)</p>
    <p v-if="vente.Statut == 3">Vendu et argent récupéré</p>
    <button class="button is-primary" v-if="vente.Statut == 2" @click="this.changerStatusItem">J'ai été récupérer mon argent</button>
    </td>
  </tbody>
</template>

<script>
import axios from 'axios';

export default {
  name: 'onevente',
  props: {
    vente: {
      required: true,
      type: Object,
    },
  },
  data() {
    return {
    };
  },
  created() {
  },
  computed: {
      activeColor: function() {
          if(this.vente.Statut != 2)
            return "black";
          if(this.vente.Statut == 2)
            return "red";
      },
  },
  methods: {
    //Méthode qui change le statut de l'item de "Vendu" à "Vendu (argent récupéré)"
    changerStatusItem() {
      this.vente.Statut = 3; //Argent récupéré
      const urlApi = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '') + '/';
      axios.put(urlApi + `/api/ItemLivre/${this.vente.Id}`, this.vente)
        .then(response => {
          this.$router.go()
        })
        .catch((error) => {
          //Add validations
          console.log(error);
        });
    },
  },
}
</script>

<style lang="scss">
tbody {
  width: 50%;
}
</style>

