<!-- Ceci est la barre latérale que l'on trouve dans la page de "profil" de l'utilisateur.
     Elle permet à celui-ci d'accéder à son historique de transactions.

     Fait par: Jacky -->
<template>
    <div class="column is-3">
        <aside class="menu">
          <p class="menu-label">General</p>
          <ul class="menu-list">
            <li>
              <router-link to="/userPage">Tableau de bord</router-link>
            </li>
          </ul>
          <p class="menu-label">Transactions</p>
          <ul class="menu-list">
            <li>
              <router-link to="/historiquetransaction">Historique de transactions</router-link>
            </li>
          </ul>
        </aside>
    </div>
</template>

<script>
export default {
    name: "usersidebar"
}
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

.menu {
    margin-left: 10px;
}

.menu-label {
  padding-top: 40px;
}

.menu-list {
  padding-top: 10px;
  margin-top: 10px;
}
</style>