<!-- Ceci est la page de l'utilisateur. Il peut voir ses transactions.
 
     Fait par: Jacky -->
<template>
   <div class="container hero is-fullheight">
      <div class="columns">
         <usersidebar></usersidebar>
         <div class="column is-9">
            <section class="hero is-info is-small">
               <div class="hero-body">
                  <div class="container">
                     <h1 class="title">{{ user }}</h1>
                  </div>
               </div>
            </section>
            <div class="card events-card">
               <header class="card-header">
                  <p class="card-header-title">
                     Transactions incomplètes
                  </p>
               </header>
               <div class="card-table">
                  <div class="content">
                     <table class="table is-fullwidth is-striped">
                        <onecommande  
                           :commande="commande"
                           v-for="commande in commandes"
                           :key="commande.Id"></onecommande>
                     </table>
                  </div>
               </div>
               <footer class="card-footer">
                  <router-link to="/historiquetransaction" class="card-footer-item">Tout voir</router-link>
               </footer>
            </div>
            <div class="card events-card">
               <header class="card-header">
                  <p class="card-header-title">
                     Ventes
                  </p>
               </header>
               <div class="card-table">
                  <div class="content">
                     <table class="table is-fullwidth is-striped">
                        <onevente  
                           :vente="vente"
                           v-for="vente in ventes"
                           :key="vente.Id"></onevente>
                     </table>
                  </div>
               </div>
               <footer class="card-footer">
                  <router-link to="/historiquetransaction" class="card-footer-item">Tout voir</router-link>
               </footer>
            </div>
         </div>
      </div>
   </div>
</template>
<script>
   import UserSidebar from './UserSidebar.vue'
   import OneCommande from './OneCommande.vue'
   import OneVente from './OneVente.vue'

   import axios from 'axios';

   export default {
     name: "userpage",
     data() {
   		return {
         user: '',
        };
     },
     components: {
       'usersidebar': UserSidebar,
       'onecommande': OneCommande,
       'onevente': OneVente,
     },
     created() {
        this.$store.dispatch('authentication/readCurrentUser');
        this.$store.dispatch('commandes/getCommandesByUser', this.$store.state.authentication.currentUser.Username);
        this.$store.dispatch('itemlivres/getItemLivresByVendeur', this.$store.state.authentication.currentUser.Id);
        this.user = this.$store.state.authentication.currentUser.Username;
     },
     computed: {
       commandes: function () {
          return this.$store.state.commandes.all;
       },
       ventes: function() {
          return this.$store.state.itemlivres.allVentes;
       },
     }
   };
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
   .columns {
   width: 100%;
   height: 100%;
   margin-left: 0;
   }
   .menu-label {
   color: #8F99A3;
   letter-spacing: 1.3;
   font-weight: 700;
   }
   .menu-list a {
   color: #0F1D38;
   font-size: 14px;
   font-weight: 700;
   }
   .menu-list a:hover {
   background-color: transparent;
   color: #276cda;
   }
   .menu-list a.is-active {
   background-color: transparent;
   color: #276cda;
   }
   .hero {
   background: #dbc8b6;
   }
   .hero-body {
   background: rgb(113,0,0);
   background: linear-gradient(180deg, rgba(113,0,0,1) 9%, rgba(0,0,0,1) 9%, rgba(0,0,0,1) 92%, rgba(113,0,0,1) 92%);  
   }
   .card {
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
   margin-top: 20px;
   }
   .events-card .card-table {
   max-height: 250px;
   overflow-y: scroll;
   }
</style>

